<div class="createStock mx-auto max-w-4xl p-10">
  <h2 class="text-lg font-medium">Create Stock form</h2>
  <p>{{messageService.message}}</p>
  <div *ngIf="message">
    <p *ngIf="message.typ === 'success'" class="text-green-600">{{message.text}}</p>
    <p *ngIf="message.typ === 'error'" class="text-red-500">{{message.text}}</p>
  </div>
  <form (ngSubmit)="createStock(stockForm)" #stockForm="ngForm">
    <input class='mt-2 w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow'
           type="text" placeholder="Stock Name"
           #stockName="ngModel"
           name="stockName"
           required
           [(ngModel)]="stock.name">
    <div *ngIf="stockName!.invalid && (stockName!.dirty || stockName!.touched)">
      <p class="text-red-600" *ngIf="stockName!.errors!['required']">Name is required</p>
    </div>
    <input class='mt-2 w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow'
           type="text" placeholder="Stock Code"
           #stockCode="ngModel"
           required
           name="stockCode"
           minlength="2"
           [(ngModel)]="stock.code">
    <div *ngIf="stockCode!.invalid && (stockCode!.dirty || stockCode!.touched)">
      <p class="text-red-600" *ngIf="stockCode!.errors!['required']">Code is required</p>
      <p class="text-red-600" *ngIf="stockCode!.errors!['minlength']">Invalid length for code</p>
    </div>
    <input class='mt-2 w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow'
           type="number" placeholder="Stock Price"
           #stockPrice="ngModel"
           required
           min="1"
           name="stockPrice"
           (ngModelChange)="setStockPrice($event)"
           [ngModel]="stock.price">
    <div *ngIf="stockPrice!.invalid && (stockPrice!.dirty || stockPrice!.touched)">
      <p class="text-red-600" *ngIf="stockPrice!.errors!['required']">Price is required</p>
      <p class="text-red-600" *ngIf="stockPrice!.errors!['min']">Value can not be below 0</p>
    </div>
    <button type="submit" class="mt-5 w-full px-4 py-2 bg-blue-600 disabled:bg-gray-200 disabled:text-gray-500 text-white">Create Stock</button>
  </form>
  <p>Form Control value: {{ stockForm.value | json }}</p>
  <p>Form Control status: {{ stockForm.status | json }}</p>
</div>

