<div class="createStock mx-auto max-w-4xl p-10">
  <h2>Create Stock form</h2>
  <form [formGroup]="stockForm" (ngSubmit)="onSubmit()">
    <input class='w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow'
           type="text" placeholder="Stock Name"
           formControlName="name">
    <input class='w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow'
           type="text" placeholder="Stock Code"
           formControlName="code">
    <input class='w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow'
           type="number" placeholder="Stock Price"
           formControlName="price">
    <button (click)="onSubmit()" class="mt-5 w-full px-4 py-2 bg-blue-600 disabled:bg-gray-200 disabled:text-gray-500 text-white" type="submit">Create Product</button>

  </form>
  <p>Form Control value: {{ stockForm.value | json }}</p>
  <p>Form Control status: {{ stockForm.status | json }}</p>
</div>

