.createStock{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.m10p{
  margin:10px;
}

//.stock-name .ng-valid,
//.stock-code .ng-pristine,
//.stock-price .ng-untouched {
//  background-color: green;
//}
.stock-name .ng-invalid,
.stock-code .ng-invalid,
.stock-price .ng-invalid {
  background-color: pink;
}
